Install the necessary Packages

In [1]:
pip install gspread oauth2client

Defaulting to user installation because normal site-packages is not writeable
Collecting gspread
  Downloading gspread-5.9.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 KB 8.6 kB/s eta 0:00:00:00:01
Collecting oauth2client
  Downloading oauth2client-4.1.3-py2.py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.2/98.2 KB 80.5 kB/s eta 0:00:00a 0:00:01
Collecting google-auth>=1.12.0
  Downloading google_auth-2.20.0-py2.py3-none-any.whl (181 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 181.5/181.5 KB 107.1 kB/s eta 0:00:00a 0:00:01
Collecting google-auth-oauthlib>=0.4.1
  Downloading google_auth_oauthlib-1.0.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: httplib2>=0.9.1 in /usr/lib/python3/dist-packages (from oauth2client) (0.20.2)
Requirement already satisfied: six>=1.6.1 in /usr/lib/python3/dist-packages (from oauth2client) (1.16.0)
Collecting pyasn1>=0.1.7
  Downloading pyasn1-0.5.0-py2.py3-none-any.whl (83 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.9/83.9 KB 168.6 kB/s eta 0:00:0000:0100:01
Collecting rsa>=3.1.4
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Collecting pyasn1-modules>=0.0.5
  Downloading pyasn1_modules-0.3.0-py2.py3-none-any.whl (181 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 181.3/181.3 KB 166.8 kB/s eta 0:00:00a 0:00:01
Collecting urllib3<2.0
  Downloading urllib3-1.26.16-py2.py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.1/143.1 KB 264.2 kB/s eta 0:00:00a 0:00:01
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.3.1-py3-none-any.whl (9.3 kB)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/lib/python3/dist-packages (from httplib2>=0.9.1->oauth2client) (2.4.7)
Requirement already satisfied: requests>=2.0.0 in /home/opeyemi/.local/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.31.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/lib/python3/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /home/opeyemi/.local/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/opeyemi/.local/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/opeyemi/.local/lib/python3.10/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2023.5.7)
Installing collected packages: urllib3, pyasn1, cachetools, rsa, pyasn1-modules, requests-oauthlib, oauth2client, google-auth, google-auth-oauthlib, gspread
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.0.2
    Uninstalling urllib3-2.0.2:
      Successfully uninstalled urllib3-2.0.2
Successfully installed cachetools-5.3.1 google-auth-2.20.0 google-auth-oauthlib-1.0.0 gspread-5.9.0 oauth2client-4.1.3 pyasn1-0.5.0 pyasn1-modules-0.3.0 requests-oauthlib-1.3.1 rsa-4.9 urllib3-1.26.16
Note: you may need to restart the kernel to use updated packages.

Import the necessary packages

In [2]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

In [3]:
import psycopg2

In [48]:
df_borrower = pd.read_csv('Borrower_Data - Sheet1.csv')
df_loan = pd.read_csv('Loan_Data - Sheet1 - Loan_Data - Sheet1.csv')
df_repayment = pd.read_csv('Repayment_Data - Sheet1 - Repayment_Data - Sheet1 (1).csv')
df_schedule = pd.read_csv('Schedule_Data.xlsx - Sheet1.csv')

In [49]:
df_borrower.head()

  Borrower_Id  State    City  zip code borrower_credit_score
0     123fd35   dfgc  12olki     19473                     4
1     123fd36  rtgio   89hfg    923475                     a

In [50]:
df_loan.head()

,Borrower_id,loan_id,Date_of_release,Term,InterestRate,LoanAmount,Downpayment,Payment_frequency,Maturity_date
0,123fd35,32u09wekjbfje,01/27/2021,12,1.05,1209484,124993,1.007903e+05,01/31/2022
1,123fd36,9190i0-nbfb,02/01/2021,24,1.05,12394031,1000000,5.164180e+05,02/29/2023
2,123fd35,09u924rbwf,04/16/2021,36,1.05,45784937,1200000,1.271804e+06,04/30/2024
3,123fd36,3240-9rfwb,03/26/2021,12,1.05,1234890,132000,1.029075e+05,03/31/2022

In [51]:
print(pd.io.sql.get_schema(df_loan, name = "Loan_data_table"))

CREATE TABLE "Loan_data_table" (
"Borrower_id" TEXT,
  "loan_id" TEXT,
  "Date_of_release" TEXT,
  "Term" INTEGER,
  "InterestRate" REAL,
  "LoanAmount" INTEGER,
  "Downpayment" INTEGER,
  "Payment_frequency" REAL,
  "Maturity_date" TEXT
)

In [52]:
print(pd.io.sql.get_schema(df_borrower, name = "Borrower_table"))

CREATE TABLE "Borrower_table" (
"Borrower_Id" TEXT,
  "State" TEXT,
  "City" TEXT,
  "zip code" INTEGER,
  "borrower_credit_score" TEXT
)

In [53]:
print(pd.io.sql.get_schema(df_repayment, name = "Repayment_data_table"))

CREATE TABLE "Repayment_data_table" (
"loan_id(fk)" TEXT,
  "payment_id(pk)" TEXT,
  "Date_paid" TEXT,
  "Amount_paid" REAL
)

In [54]:
print(pd.io.sql.get_schema(df_schedule, name = "schedule_data_table"))

CREATE TABLE "schedule_data_table" (
"loan_id" TEXT,
  "schedule_id" TEXT,
  "Expected_payment_date" TEXT,
  "Expected_payment_amount" REAL
)

In [55]:
# Connect to the PostgreSQL Database
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/opeyemi/.local/lib/python3.10/site-packages (2.0.6)
Requirement already satisfied: greenlet!=0.4.17 in /home/opeyemi/.local/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/opeyemi/.local/lib/python3.10/site-packages (from sqlalchemy) (4.5.0)

In [56]:
from sqlalchemy import create_engine
!pip install psycopg2-binary

engine = create_engine('postgresql://auto:auto@localhost:5432/autochek_db')

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in /home/opeyemi/.local/lib/python3.10/site-packages (2.9.6)

In [57]:
engine.connect()

In [58]:
print(pd.io.sql.get_schema(df_schedule, name="schedule_data_table", con=engine))

CREATE TABLE schedule_data_table (
	loan_id TEXT,
	schedule_id TEXT,
	"Expected_payment_date" TEXT,
	"Expected_payment_amount" FLOAT(53)
)

In [59]:
print(pd.io.sql.get_schema(df_repayment, name="repayment_data_table", con=engine))
print(pd.io.sql.get_schema(df_loan, name="loan_data_table", con=engine))
print(pd.io.sql.get_schema(df_borrower, name="borrower_data_table", con=engine))

CREATE TABLE repayment_data_table (
	"loan_id(fk)" TEXT,
	"payment_id(pk)" TEXT,
	"Date_paid" TEXT,
	"Amount_paid" FLOAT(53)
)



CREATE TABLE loan_data_table (
	"Borrower_id" TEXT,
	loan_id TEXT,
	"Date_of_release" TEXT,
	"Term" BIGINT,
	"InterestRate" FLOAT(53),
	"LoanAmount" BIGINT,
	"Downpayment" BIGINT,
	"Payment_frequency" FLOAT(53),
	"Maturity_date" TEXT
)



CREATE TABLE borrower_data_table (
	"Borrower_Id" TEXT,
	"State" TEXT,
	"City" TEXT,
	"zip code" BIGINT,
	borrower_credit_score TEXT
)

In [60]:
df_repayment

      loan_id(fk)        payment_id(pk)   Date_paid  Amount_paid
0   32u09wekjbfje  3434r409kmPAID123456  03/31/2021  100790.3333
1   32u09wekjbfje  3434r409kmPAID123457  03/31/2021  100790.3333
2   32u09wekjbfje  3434r409kmPAID123458  04/27/2021  100790.3333
3   32u09wekjbfje  3434r409kmPAID123459  05/27/2021  100790.3333
4   32u09wekjbfje  3434r409kmPAID123460  06/27/2021  100790.3333
..            ...                   ...         ...          ...
79     3240-9rfwb  klnin09u4njPAID33471  11/26/2021  102907.5000
80     3240-9rfwb  klnin09u4njPAID33472  12/26/2021  102907.5000
81     3240-9rfwb  klnin09u4njPAID33473  01/26/2022  102907.5000
82     3240-9rfwb  klnin09u4njPAID33474  02/26/2022  102907.5000
83     3240-9rfwb  klnin09u4njPAID33475  03/26/2022  102907.5000

[84 rows x 4 columns]

In [78]:
df_borrower.to_sql('Borrower_Data_Table', engine, if_exists='replace', index=False)

AttributeError: 'TextFileReader' object has no attribute 'to_sql'

In [85]:
import psycopg2
import csv

# PostgreSQL connection details
db_host = 'postgres'
db_port = '5432'
db_name = 'autochek_db'
db_user = 'auto'
db_password = 'auto'

# Path to the CSV files
borrower_table = 'Borrower_Data - Sheet1.csv'
loan_table = 'Loan_Data - Sheet1 - Loan_Data - Sheet1.csv'
repayment_table = 'Repayment_Data - Sheet1 - Repayment_Data - Sheet1 (1).csv'
schedule_table = 'Schedule_Data.xlsx - Sheet1.csv'

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    database='autochek_db',
    user='auto',
    password='auto'
)

# Create a cursor object to interact with the database
cursor = conn.cursor()

In [88]:
# Open the CSV file and read its contents
with open(borrower_table, 'r') as file:
    # Create a CSV reader object
    csv_reader = csv.reader(file)
    # Skip the header row if it exists
    header = next(csv_reader, None)
    # Generate the INSERT statement
    insert_statement = f"INSERT INTO borrower_table (Borrower_Id, 
	"State" TEXT, 
	"City" TEXT, 
	"zip code" BIGINT, 
	borrower_credit_score TEXT{', '.join(header)}) VALUES %s"
    # Read and insert each row of data
    rows = [row for row in csv_reader]
    psycopg2.extras.execute_values(cursor, insert_statement, rows, template=None, page_size=100)

# Commit the changes to the database
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

SyntaxError: syntax error at or near "("
LINE 1: INSERT INTO your_table_name (loan_id(fk), payment_id(pk), Am...
                                            ^